body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #fdb7e8;
}

h1 {
    color: #000000;
}

p {
    color: #000000;
}

input {
    padding: 8px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #3681b3;
    color: #fff;
    border: none;
    border-radius: 4px;
}

button:disabled {
    background-color: #744f4f;
    color: #666;
    cursor: not-allowed;
}

#result {
    font-size: 1.2em;
    margin-top: 10px;
    color: #df1db5;
}

#retryButton {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #24f37a;
    color: #fff;
    border: none;
    border-radius: 4px;
}

#retryButton:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}